.food-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 5px #d3d3d3;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}
.dish-type-and-details-container {
  display: flex;
  width: 50%;
}
.dish-type-image {
  width: 25px;
  height: 25px;
}
.dish-details-container {
  font-family: 'Roboto';
  margin-left: 10px;
}
.dish-name {
  color: #000000;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 16px;
  margin: 0px 0px 10px;
}
@media screen and (min-width: 768px) {
  .dish-name {
    font-size: 18px;
  }
}
.dish-price {
  color: #555555;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 13px;
  margin: 0px 0px 10px;
}
@media screen and (min-width: 768px) {
  .dish-price {
    font-size: 15px;
  }
}
.dish-description {
  color: #a9a9a9;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 0px 0px 10px;
}
@media screen and (min-width: 768px) {
  .dish-description {
    font-size: 15px;
  }
}
.dish-customization {
  color: #7644c3;
  font-family: 'Roboto';
  font-size: 13px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .dish-customization {
    font-size: 15px;
  }
}
.dish-qty-container {
  background-color: #299617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 30px;
  margin: 0px 0px 10px;
  padding: 12px 10px 10px;
}
@media screen and (min-width: 768px) {
  .dish-qty-container {
    width: 120px;
    height: 40px;
  }
}
.dish-qty-btn {
  color: #ffffff;
  font-size: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .dish-qty-btn {
    font-size: 30px;
  }
}

.dish-qty {
  color: #ffffff;
  margin: 0px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .dish-qty {
    font-size: 16px;
  }
}
.not-available {
  color: #e3242b;
  font-family: 'Roboto';
  font-size: 13px;
  margin: 0px 0px 10px;
}
@media screen and (min-width: 768px) {
  .not-available {
    font-size: 15px;
  }
}
.dish-calories {
  color: #f79002;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  align-self: center;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .dish-calories {
    font-size: 16px;
  }
}
.dish-image {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .dish-image {
    width: 145px;
    height: 135px;
    align-self: center;
  }
}
.add-to-cart-btn {
  color: #299617;
  background-color: transparent;
  border: 1px solid #299617;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .add-to-cart-btn {
    padding: 8px 16px;
  }
}
