.category-slider-list-item {
  list-style-type: none;
}
.category-btn {
  color: #000;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  border: none;
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .category-btn {
    font-size: 16px;
    width: 240px;
    height: 60px;
  }
}
.active-category-btn {
  color: #e3242b;
  border-bottom: 3px solid #d03120;
}
